<div class="container px-5 px-sm-0">
<div class="row">
<div class="col-xl-3">

<table class="table table-user">

<h1>User info</h1>
<thead>
    <tr>
        <%= image_tag user.get_profile_image(100,100) %>
    </tr>
</thead>
<tbody>
 <tr>
  <th>Name</th>
  <th><%= user.name %></th>
 </tr>
 <tr>
   <th>Introduction</th>
   <th><%= user.Body %></th>
 </tr>
 <tr>
   <th class="row">
     <%= link_to edit_user_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
     <i class="fas fa-user-cog"></i>
     <% end %>
   </th>
 </tr>
  </tbody>
</table>

